<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base th:href="@{/}"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script src="script/docs.min.js"></script>
    <script src="script/back-to-top.js"></script>
    <script>
        $(function () {

            $('#myTab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show');
            });
            //声明全局变量保存存储选中的标签id
            var tagIdList = new Array();
            $(".tagLabel").click(function () {

                $(this).toggleClass("selected");

                var tagId = this.id;
                //判断当前的id是否存在数组中，不存在就添加，存在就删除
                checkExitsts(tagIdList, tagId);
                console.log(tagIdList);
            });

            function checkExitsts(arr, id) {
                for (var i = 0; i < arr.length; i++) {
                    var value = arr[i];
                    if (value == id) {
                        //从数组删除元素，i是索引，1是删除数量
                        arr.splice(i, 1);
                        $("#" + id).css("background-color", "#FFFFFF");
                        return;
                    }
                }
                $("#" + id).css("background-color", "#00CCFF");
                arr.push(id);
            }

            $("#uploadHeadBtn").click(function () {
                //调用click函数，相当于被点击以下
                $("[name=headerPicture]").click();
            });

            $("[name=headerPicture]").change(function (event) {
                //获取用户选中的文件
                var files = event.target.files;
                //使用下标0，选择唯一的一个文件
                var file = files[0];
                //回去URL对象那个
                var url = window.url || window.webkitURL;
                //调用url对象的createObjectURL方法获取当前选中的问价再系统的路径
                var path = url.createObjectURL(file);

                //使用path修改img标签的src属性
                $("#add_header_picture").attr("src", path).show();
            });

            $("#uploadDetailBtn").click(function () {
                $("[name=detailPictureList]").click();
            });

            $("[name=detailPictureList]").change(function (event) {
                $("#showDetailPicture").empty();
                //获取用户选中的文件
                var files = event.target.files;
                //使用下标0，选择唯一的一个文件
                //回去URL对象那个
                var url = window.url || window.webkitURL;
                //调用url对象的createObjectURL方法获取当前选中的问价再系统的路径
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var path = url.createObjectURL(file);
                    /* var imgHtml = "<img src='" + path + "' style='width:200px'/><br/>";*/
                    var imgHtml = "<div class='col-sm-5'>" + "<img src='" + path + "' class='img-responsive'/><br/>" + "</div>";
                    //使用path修改img标签的src属性
                    $("#showDetailPicture").append(imgHtml);
                }
            });
            $("#submitBtn").click(function () {
                successCount = 0;
                $("[name=projectName]").change();
                $("[name=projectDescription]").change();
                $("[name=money]").change();
                $("[name=day]").change();
                $("#myself").change();
                $("#detailMyself").change();
                $("#phoneNumInput").change();
                $("#kehudianhua").change();
                checkTypeInformation();
                if (tagIdList.length == 0) {
                    $("#tagSpan").empty().append("请至少选择一个标签！");
                } else {
                    $("#tagSpan").empty();
                    successCount++;
                }
                if (successCount != 10) {
                    layer.msg("请填写所有表单项，并保证格式正确！");
                    return false;
                }
                for (var i = 0; i < tagIdList.length; i++) {
                    var tagId = tagIdList[i];

                    var hiddenInputHTML = "<input type='hidden' name='tagIdList' value='" + tagId + "'/> ";
                    $("#projectForm").append(hiddenInputHTML);
                }
                $("#projectForm").submit();
            });

            var successCount = 0;
            //项目名称
            $("[name=projectName]").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写项目名称");
                } else {
                    successCount++;
                }
            });
            //一句话简介
            $("[name=projectDescription]").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写项目的简介");
                } else {
                    successCount++;
                }
            });
            //筹集金额
            $("[name=money]").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写筹集金额");
                } else {
                    if (value < 100 || value > 1000000000) {
                        $(this).next().append("请填写正确范围的金额");
                    } else {
                        successCount++;
                    }
                }
            });
            //筹集天数
            $("[name=day]").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写筹资天数");
                } else {
                    if (value < 0 || value > 100) {
                        $(this).next().append("请填写正确范围的筹资天数");
                    } else {
                        successCount++;
                    }
                }
            });
            //自我介绍
            $("#myself").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写自我介绍（个体）/公司名称（企业）");
                } else {
                    successCount++;
                }
            });

            //详细自我介绍
            $("#detailMyself").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写详细的关于个体（公司）的介绍");
                } else {
                    successCount++;
                }
            });
            //手机号码
            $("#phoneNumInput").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写手机号码");
                } else {
                    if (!/^1(3|4|5|6|7|8|9)\d{9}$/.test(value)) {
                        $(this).next().append("请填写正确的手机号码");
                    } else {
                        successCount++;
                    }
                }
            });
            //客服电话
            $("#kehudianhua").change(function () {
                $(this).next().empty();
                var value = $.trim($(this).val());
                if (value == null || value == "") {
                    $(this).next().append("请填写客服电话");
                } else {
                    if (!/^\d{3}-\d{4}-\d{4}$/.test(value)) {
                        $(this).next().append("请填写正确的客服电话");
                    } else {
                        successCount++;
                    }
                }
            });
            //分类信息
            $(":checkbox").click(function () {
                var len = $(":checkbox:checked").length;
                $("#typeSpan").empty();
                if (len == 0 || len == "") {
                    $("#typeSpan").empty().append("请选择至少一个分类");
                } else {
                    successCount++;
                }
            });

            function checkTypeInformation() {
                var len = $(":checkbox:checked").length;
                $("#typeSpan").empty();
                if (len == 0 || len == "") {
                    $("#typeSpan").empty().append("请选择至少一个分类");
                } else {
                    successCount++;
                }
            };
        })
    </script>
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        #topcontrol {
            color: #fff;
            z-index: 99;
            width: 30px;
            height: 30px;
            font-size: 20px;
            background: #222;
            position: relative;
            right: 14px !important;
            bottom: 11px !important;
            border-radius: 3px !important;
        }

        #topcontrol:after {
            /*top: -2px;*/
            left: 8.5px;
            content: "\f106";
            position: absolute;
            text-align: center;
            font-family: FontAwesome;
        }

        #topcontrol:hover {
            color: #fff;
            background: #18ba9b;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .label-type, .label-status, .label-order {
            background-color: #fff;
            color: #f60;
            padding: 5px;
            border: 1px #f60 solid;
        }

        #typeList :not(:first-child) {
            margin-top: 20px;
        }

        .label-txt {
            margin: 10px 10px;
            border: 1px solid #ddd;
            padding: 4px;
            font-size: 14px;
        }

        .panel {
            border-radius: 0;
        }

        .progress-bar-default {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<!-- 头部信息 -->
<div th:replace="include::header"></div>

<div class="container theme-showcase" role="main">

    <!--众筹首页\项目总览\发起众筹\我的众筹 -->
    <div th:replace="include::navCrowd"></div>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form id="projectForm" th:action="@{/project/create/project/information}" method="post"
                      enctype="multipart/form-data"
                      class="form-horizontal">
                    <!--<p th:text="${message}"></p>-->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align:center;">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <div class="col-md-3 column">
                                        <div class="progress"
                                             style="height:50px;border-radius:0;    position: absolute;width: 75%;right:49px;">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%;height:50px;">
                                                <div style="font-size:16px;margin-top:15px;">1. 项目及发起人信息</div>
                                            </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(92, 184, 92, 1);
                                             border-top-color: rgba(92, 184, 92, 0);
                                             border-bottom-color: rgba(92, 184, 92, 0);
                                             border-right-color: rgba(92, 184, 92, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress"
                                             style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                            <div class="progress-bar progress-bar-default" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%;height:50px;">
                                                <div style="font-size:16px;margin-top:15px;">2. 回报设置</div>
                                            </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress"
                                             style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                            <div class="progress-bar progress-bar-default" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%;height:50px;">
                                                <div style="font-size:16px;margin-top:15px;">3. 确认信息</div>
                                            </div>
                                        </div>
                                        <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                        </div>
                                    </div>
                                    <div class="col-md-3 column">
                                        <div class="progress" style="height:50px;border-radius:0;">
                                            <div class="progress-bar progress-bar-default" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%;height:50px;">
                                                <div style="font-size:16px;margin-top:15px;">4. 完成</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <blockquote style="border-left: 5px solid #f60;color:#f60;padding: 0 0 0 20px;">
                                            <b>
                                                项目及发起人信息
                                            </b>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-12 column">
                                        <div class="page-header" style="border-bottom-style: dashed;">
                                            <h3>
                                                项目信息
                                            </h3>
                                        </div>

                                        <div class="form-group">
                                            <label id="typeLabel" for="inlineRadio1"
                                                   class="col-sm-2 control-label">分类信息</label>
                                            <div class="col-sm-10">
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="typeIdList" id="inlineRadio1"
                                                           value="1"> 科技
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="typeIdList" id="inlineRadio2"
                                                           value="2"> 设计
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="typeIdList" id="inlineRadio3"
                                                           value="3"> 公益
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="checkbox" name="typeIdList" id="inlineRadio4 "
                                                           value="4"> 农业
                                                </label>
                                                <label>
                                                    <b id="typeSpan" style="color: #ac2925"></b>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="labelchoose" class="col-sm-2 control-label">标签</label>
                                            <div class="col-sm-10">
                                                <ul id="labelchoose" style="list-style:none;padding-left:0;">
                                                    <li style="margin:10px 0">[手机]
                                                        <span class="tagLabel label-txt" id="1">续航</span>
                                                        <span class="tagLabel label-txt" id="2">快充</span>
                                                        <span class="tagLabel label-txt" id="3">大屏</span>
                                                        <span class="tagLabel label-txt" id="4">高清</span>
                                                        <span class="tagLabel label-txt" id="5">拍照</span>
                                                    </li>
                                                    <li style="margin:10px 0">[数码]
                                                        <span class="tagLabel label-txt" id="6">高清数码</span>
                                                        <span class="tagLabel label-txt" id="7">高清电视</span>
                                                    </li>
                                                    <li style="margin:10px 0">[电脑]
                                                        <span class="tagLabel label-txt" id="8">游戏本</span>
                                                        <span class="tagLabel label-txt" id="9">固态</span>
                                                        <span class="tagLabel label-txt" id="10">显卡</span>
                                                        <span class="tagLabel label-txt" id="11">内存条</span>
                                                    </li>
                                                    <b id="tagSpan" style="color: #ac2925"></b>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目名称</label>
                                            <div class="col-sm-10">
                                                <input name="projectName" type="text" class="form-control">
                                                <b style="color: #ac2925"></b>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">一句话简介</label>
                                            <div class="col-sm-10">
                                                <textarea name="projectDescription" class="form-control"
                                                          rows="5"></textarea>
                                                <b style="color: #ac2925"></b>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">筹资金额（元）</label>
                                            <div class="col-sm-10">
                                                <input name="money" type="text" class="form-control"
                                                       style="width:100px;">
                                                <b style="color: #ac2925"></b>
                                                <label class="control-label">筹资金额不能低于100元,不能高于1000000000元</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">筹资天数（天）</label>
                                            <div class="col-sm-10">
                                                <input name="day" type="text" class="form-control" style="width:100px;">
                                                <b style="color: #ac2925"></b>
                                                <label class="control-label">一般10-90天，建议30天</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目头图</label>
                                            <div class="col-sm-10">
                                                <input type="file" name="headerPicture" style="display: none;"/>
                                                <button id="uploadHeadBtn" type="button" style="margin-bottom:20px"
                                                        class="btn btn-primary btn-lg active" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="项目头图仅一张，在项目审核审核通过后，将在首页上展示！">上传图片
                                                </button>
                                                <label class="control-label">图片上无文字,支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：740*457px</label>
                                                <br/>
                                                <img id="add_header_picture" style="display: none;width:430px"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目详情</label>
                                            <div class="col-sm-10">
                                                <input type="file" multiple="multiple" name="detailPictureList"
                                                       style="display: none;"/>
                                                <button id="uploadDetailBtn" type="button" style="margin-bottom:20px"
                                                        class="btn btn-primary btn-lg active" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="项目详图可多张，在项目审核审核通过后，供用户进入该项目详细查看时！！">上传图片
                                                </button>
                                                <label class="control-label">支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：宽740px</label>
                                                <div id="showDetailPicture"></div>
                                            </div>
                                        </div>
                                        <!--</form>-->
                                        <!--</div>-->
                                        <div class="col-md-12 column">
                                            <div class="page-header" style="    border-bottom-style: dashed;">
                                                <h3>
                                                    发起人信息
                                                </h3>
                                            </div>
                                            <!--<form class="form-horizontal">-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">自我介绍</label>
                                                <div class="col-sm-10">
                                                    <input id="myself" type="text"
                                                           name="memberLauchInfoVO.descriptionSimple"
                                                           class="form-control"
                                                           placeholder="一句话自我介绍（个体）或者公司名称（企业），不超过40字"
                                                           th:value="${launchInfo?.descriptionSimple}">
                                                    <b style="color: #ac2925"></b>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">详细自我介绍</label>
                                                <div class="col-sm-10">
                                                    <textarea th:if="${launchInfo?.descriptionDetail!=null}" id="detailMyself" class="form-control" rows="5"
                                                              name="memberLauchInfoVO.descriptionDetail"
                                                              placeholder="向支持者详细介绍你自己或你的团队及项目背景，让支持者在最短时间内了解你，不超过160字">[[${launchInfo?.descriptionDetail}]]</textarea>
                                                    <textarea th:if="${launchInfo?.descriptionDetail==null} " id="detailMyself" class="form-control" rows="5"
                                                              name="memberLauchInfoVO.descriptionDetail"
                                                              placeholder="向支持者详细介绍你自己或你的团队及项目背景，让支持者在最短时间内了解你，不超过160字"></textarea>
                                                    <b style="color: #ac2925"></b>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">联系电话</label>
                                                <div class="col-sm-10">
                                                    <input id="phoneNumInput" type="text"
                                                           name="memberLauchInfoVO.phoneNum"
                                                           class="form-control" placeholder="此信息不会显示在项目页面，仅供于官方联系"
                                                           th:value="${launchInfo?.phoneNum}">
                                                    <b style="color: #ac2925"></b>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label ">客服电话</label>
                                                <div class="col-sm-10">
                                                    <input id="kehudianhua" type="text"
                                                           name="memberLauchInfoVO.serviceNum"
                                                           class="form-control" placeholder="此信息显示在项目页面"
                                                           th:value="${launchInfo?.serviceNum}">
                                                    <b style="color: #ac2925"></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="text-align:center;">
                            <button id="submitBtn" type="button" class="btn  btn-warning btn-lg">下一步</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--页脚-->
    <div th:replace="include::footer"></div>

</div> <!-- /container -->

</body>
</html>

