<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base th:href="@{/}"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="script/docs.min.js"></script>
    <script src="script/back-to-top.js"></script>
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        #topcontrol {
            color: #fff;
            z-index: 99;
            width: 30px;
            height: 30px;
            font-size: 20px;
            background: #222;
            position: relative;
            right: 14px !important;
            bottom: 11px !important;
            border-radius: 3px !important;
        }

        #topcontrol:after {
            /*top: -2px;*/
            left: 8.5px;
            content: "\f106";
            position: absolute;
            text-align: center;
            font-family: FontAwesome;
        }

        #topcontrol:hover {
            color: #fff;
            background: #18ba9b;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    </style>
    <script>
        $(function () {
            $("#launchCrowdBtn").click(function () {
                window.location.href = "http://localhost:80/project/agree/protocol/page"
            });
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show')
            });
            $('#myTab1 a').click(function (e) {
                e.preventDefault();
                $(this).tab('show')
            });

            $(function () {
                $("#applyBtn").click(function () {
                    window.location.href="http://localhost/identity/select"
                })
            });

            $(".confirmReceiptBtn").click(function () {
              var orderId =  $(this).attr("orderId");
              $.ajax({
                  url:"auth/confirm/receipt",
                  data:{
                      "orderId":orderId
                  },
                  type: "post",
                  dataType: "json",
                  success:function (response) {
                      var result =response.result;
                      if (result == "SUCCESS") {
                          var id = "#"+ "orderStatusTd"+orderId;
                          $(id).find("b").empty().append("已收货");
                          $(id).find("b").removeAttr("style").attr("style","color:#00FF7F");
                          layer.msg("确认收货成功！");
                      }else{
                          layer.msg("确认收货失败！请重新尝试！");
                      }
                  }
              })
            })
        })
    </script>
</head>
<body>
<!-- 头部信息 -->
<div th:replace="include::header" ></div>

<!--body-->
<div class="container">
    <div class="row clearfix">
        <div class="col-sm-3 col-md-3 column">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail" style="    border-radius: 0px;">
                        <img src="img/services-box1.jpg" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
                        <div class="caption" style="text-align:center;">
                            <h3>
                                [[${session.loginMember.username}]]
                            </h3>
                            <span th:if="${session.loginMember.authstatus==0}" id="applyBtn" class="label label-danger" style="cursor:pointer;">未实名认证</span>
                            <span th:if="${session.loginMember.authstatus==1}" id="applyBtn" class="label label-info" style="cursor:pointer;">实名认证申请中</span>
                            <span th:if="${session.loginMember.authstatus==2}" id="applyBtn" class="label label-success" style="cursor:pointer;">已完成实名认证</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item" style="cursor:pointer;" onclick="window.location.href='member.html'">
                    <a th:href="@{/auth/member/to/center/page}">个人信息</a><span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
                </div>
                <div class="list-group-item active">
                    我的众筹<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 column">
            <ul id="myTab" style="" class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">我的众筹</a></li>
               <!-- <li role="presentation"><a href="#profile">众筹资产</a></li>-->
            </ul>
            <div id="myTabContent" class="tab-content" style="margin-top:10px;">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

                    <ul id="myTab1" class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#support">我支持的</a></li>
                        <li role="presentation"><a href="#attension">我关注的</a></li>
                        <li role="presentation"><a href="#add">我发起的</a></li>
                        <li class=" pull-right">
                            <button id="launchCrowdBtn" type="button" class="btn btn-warning">发起众筹</button>
                        </li>
                    </ul>

                    <div id="myTab2" class="tab-content" style="margin-top:10px;">
                        <!--我支持的-->
                        <div role="tabpanel" class="tab-pane fade active in" id="support" aria-labelledby="home-tab">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <!--<div class="col-md-12 column">
                                        <span class="label label-warning">全部</span> <span class="label" style="color:#000;">已支付</span> <span class="label " style="color:#000;">未支付</span>
                                    </div>-->
                                    <div class="col-md-12 column" style="margin-top:10px;padding:0;">
                                        <table class="table table-bordered" style="text-align:center;">
                                            <thead>
                                            <tr style="background-color:#ddd;">
                                                <td>项目信息</td>
                                                <td width="90">支持日期</td>
                                                <td width="120">支持金额（元）</td>
                                                <td width="80">回报数量</td>
                                                <td width="80">交易状态</td>
                                                <td width="120">操作</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="support : ${mySupport}">
                                                <td style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <h3 th:text="${support.projectName}">
                                                                活性富氢净水直饮机
                                                            </h3>
                                                            <p>
                                                                订单编号:<p style="font-size: 10px">[[${support.orderNum}]]</p>
                                                            <p>
                                                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> 已完成 [[${support.percentage}]]% </div>
                                                            <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> 剩余[[${support.lastDays}]]天 </div>
                                                            <br>
                                                            <div class="progress" style="margin-bottom: 4px;">
                                                                <div th:if="${support.status==2}" class="progress-bar  progress-bar-success" role="progressbar"
                                                                   th:aria-valuenow="${support.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${support.percentage}+'%'">
                                                                    <span >众筹成功</span>
                                                                </div>
                                                                <div th:if="${support.status==1}" class="progress-bar progress-bar-info" role="progressbar"
                                                                     th:aria-valuenow="${support.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${support.percentage}+'%'">
                                                                    <span >众筹中</span>
                                                                </div>
                                                                <div th:if="${support.status==3}" class="progress-bar progress-bar-danger" role="progressbar"
                                                                     th:aria-valuenow="${support.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${support.percentage}+'%'">
                                                                    <span >众筹失败</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle;" th:text="${support.supportTime}">2017-05-23 11:31:22</td>
                                                <td style="vertical-align:middle;" >[[${support.orderAmount}]].00<br>(运费：[[${support.freight}]].00 )</td>
                                                <td style="vertical-align:middle;" th:text="${support.returnCount}">1</td>
                                                <td th:id="'orderStatusTd'+${support.orderId}" th:switch="${support.orderStatus}" style="vertical-align:middle;">
                                                    <b th:case="0" style="color:#DC143C">未发货</b>
                                                    <b th:case="1" style="color:#1E90FF">已发货</b>
                                                    <b th:case="2" style="color:#00FF7F">已收货</b>
                                                </td>
                                                <td style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                        <a th:if="${support.orderStatus == 2}" th:href="'http://localhost/delete/my/order/' + ${support.orderId}" id="deleteOrderBtn" type="button" class="btn btn-default">删除订单</a>
                                                        <a th:if="${support.orderStatus != 2}" th:href="'http://localhost/delete/my/order/' + ${support.orderId}" id="deleteOrderBtn" type="button" class="btn btn-default" disabled="true">删除订单</a>
                                                        <button th:if="${support.orderStatus == 1}" th:orderId="${support.orderId}" type="button" class="btn btn-default confirmReceiptBtn">确认收货</button>
                                                        <button th:if="${support.orderStatus != 1}" th:orderId="${support.orderId}" type="button" class="btn btn-default confirmReceiptBtn" disabled="true">确认收货</button>
                                                       <!-- <button id="moreAboutOrderBtn" type="button" class="btn btn-default">交易详情</button>-->
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--我关注的-->
                        <div role="tabpanel" class="tab-pane fade" id="attension" aria-labelledby="attension-tab">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <div class="col-md-12 column" style="padding:0;">
                                        <table class="table table-bordered" style="text-align:center;">
                                            <thead>
                                            <tr style="background-color:#ddd;">
                                                <td>项目信息</td>
                                                <td width="120">支持人数</td>
                                                <td width="120">关注人数</td>
                                                <td width="120">操作</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="focus : ${myFocus}">
                                                <td  style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <p th:text="${focus.projectName}">
                                                                BAVOSN便携折叠移动电源台灯
                                                            </p>
                                                            <p>
                                                                <i class="glyphicon glyphicon-jpy"></i> 已筹集 [[${focus.supportmoney}]].0元
                                                            </p>
                                                            <p>
                                                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> 已完成 [[${focus.percentage}]]% </div>
                                                            <div style="float:right;"><i class="glyphicon glyphicon-calendar"></i>剩余[[${focus.lastDays}]]天 </div>
                                                            </p>
                                                            <br>
                                                            <div class="progress" style="margin-bottom: 4px;">
                                                                <div th:if="${focus.status==2}" class="progress-bar  progress-bar-success" role="progressbar"
                                                                     th:aria-valuenow="${focus.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${focus.percentage}+'%'">
                                                                    <span >众筹成功</span>
                                                                </div>
                                                                <div th:if="${focus.status==1}" class="progress-bar progress-bar-info" role="progressbar"
                                                                     th:aria-valuenow="${focus.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${focus.percentage}+'%'">
                                                                    <span >众筹中</span>
                                                                </div>
                                                                <div th:if="${focus.status==3}" class="progress-bar progress-bar-danger" role="progressbar"
                                                                     th:aria-valuenow="${focus.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${focus.percentage}+'%'">
                                                                    <span >众筹失败</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle;" th:text="${focus.supporter}">1</td>
                                                <td style="vertical-align:middle;" th:text="${focus.follower}">1</td>
                                                <td style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                        <a th:href="'http://localhost/unsubscribe/' + ${focus.id}" type="button" class="btn btn-default">取消关注</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--我发起的-->
                        <div role="tabpanel" class="tab-pane fade  " id="add" aria-labelledby="add-tab">
                            <div class="container-fluid">
                                <div class="row clearfix">
                                    <!--<div class="col-md-12 column">
                                        <span class="label label-warning">全部</span> <span class="label" style="color:#000;">众筹中</span> <span class="label " style="color:#000;">众筹成功</span>  <span class="label " style="color:#000;">众筹失败</span>
                                    </div>-->
                                    <div class="col-md-12 column" style="padding:0;margin-top:10px;">
                                        <table class="table table-bordered" style="text-align:center;">
                                            <thead>
                                            <tr style="background-color:#ddd;">
                                                <td>项目信息</td>
                                                <td width="120">募集金额（元）</td>
                                                <td width="80">当前状态</td>
                                                <td width="120">操作</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="project : ${myProject}">
                                                <td style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <p th:text="${project.projectName}">
                                                                BAVOSN便携折叠移动电源台灯
                                                            </p>
                                                            <p>
                                                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> 已完成 [[${project.percentage}]]% </div>
                                                            <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> 剩余[[${project.lastDays}]]天 </div>
                                                            </p>
                                                            <br>
                                                            <div class="progress" style="margin-bottom: 4px;">
                                                                <div th:if="${project.status==2}" class="progress-bar  progress-bar-success" role="progressbar"
                                                                     th:aria-valuenow="${project.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${project.percentage}+'%'">
                                                                    <span >众筹成功</span>
                                                                </div>
                                                                <div th:if="${project.status==1}" class="progress-bar progress-bar-info" role="progressbar"
                                                                     th:aria-valuenow="${project.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${project.percentage}+'%'">
                                                                    <span >众筹中</span>
                                                                </div>
                                                                <div th:if="${project.status==3}" class="progress-bar progress-bar-danger" role="progressbar"
                                                                     th:aria-valuenow="${project.percentage}"  aria-valuenow="40"
                                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%" th:style="'width: '+${project.percentage}+'%'">
                                                                    <span >众筹失败</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle;">[[${project.supportmoney}]].00</td>
                                                <td th:if="${project.status==0}" style="vertical-align:middle;" class="warning">待审核</td>
                                                <td th:if="${project.status==1}" style="vertical-align:middle;" class="info">众筹中</td>
                                                <td th:if="${project.status==2}" style="vertical-align:middle;" class="success">众筹成功</td>
                                                <td th:if="${project.status==3}" style="vertical-align:middle;" class="warning">众筹失败</td>
                                                <td th:if="${project.status==4}" style="vertical-align:middle;" class="danger">审核未通过</td>
                                                <td  style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                        <a th:href="'http://localhost/project/supporter/project/return/' + ${project.id}" type="button" class="btn btn-default">支持预览</a>
                                                       <!-- <button  type="button" class="btn btn-default">修改项目</button>-->
                                                        <a th:href="'http://localhost/delete/my/project/' + ${project.id}" type="button" class="btn btn-default">删除项目</a>
                                                        <!--<button type="button" class="btn btn-default">问题管理</button>-->
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                    众筹资产
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:20px;">
    <!--关于我们-->
    <div th:replace="include::footer" ></div>
</div>

</body>
</html>

